@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  font-family: 'Jost', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #060922;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.light-blue-bg {
  background-color: rgb(9, 175, 244);
}

.light-blue-text {
  color: #09AFF4;
}

.light-blue-border {
  border-color: #09AFF4;
}

.hero-text {
  font-size: 56px;
}

.ripple {
  border-radius: 50%;
  animation: ripple 1s linear infinite;
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 .7rem rgba(9, 175, 244, 0.2),
      0 0 0 0.5rem rgba(9, 175, 244, 0.2),
      0 0 0 1rem rgba(9, 175, 244, 0.2);
  }

  100% {
    box-shadow: 0 0 0 0.5rem rgba(9, 175, 244, 0.2),
      0 0 0 0.3rem rgba(9, 175, 244, 0.2),
      0 0 0 0.1rem rgba(9, 175, 244, 0);
  }
}

.card {
  will-change: transform;
  transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);
}

.blog {
  background-color: rgba(9, 175, 244, 0.15);
}